.wrapper
  width: 100%
  display: flex
  justify-content: space-between
#form-create
  width: 400px
  .form-group
    margin-bottom: 0.5rem
  #buttons-block
    display: flex
    justify-content: space-between
  label
    margin-bottom: 0
  input[type=checkbox]
    width: auto
    height: auto
  input[type=file]
    overflow: hidden
